<configuration>

  <system.web>
    <httpRuntime requestValidationMode="2.0" />
    <globalization
      fileEncoding="utf-8"
      requestEncoding="utf-8"
      responseEncoding="utf-8"
      culture="en-US"
      uiCulture="de-DE"
      />
  </system.web>

  <appSettings>
   <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>

  <!--system.webServer>
      <handlers>
          <add name="PHP" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files\PHP\v5.3\php-cgi.exe" resourceType="Unspecified" />
      </handlers>
  </system.webServer-->

</configuration>
